<div class="jumbotron text-center">
  <h1>{{title}}</h1>
  <p>Welcome to a Manufacturing Dashboard demo, a basic Express website with stored data in MongoDB.</p>
  <P><small><em>Created by Shan. See the code on <a href="https://github.com/sbhaseen/express-dashboard-demo">GitHub</a>.</em></small></p>
</div>

<h2 class="text-center">Metrics</h2>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <canvas id="processInstanceChart"></canvas>
      <script>
        const ctx = document.getElementById('processInstanceChart');
        const process_started = {{data.process_instance_started_count}};
        const process_scheduled = {{data.process_instance_scheduled_count}};
        const process_finished = {{data.process_instance_finished_count}};

        const processInstanceChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Started', 'Scheduled', 'Finished'],
                datasets: [{
                    label: '# of Process Instances',
                    data: [process_started, process_scheduled, process_finished],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.7)',
                        'rgba(255, 206, 86, 0.7)',
                        'rgba(75, 192, 192, 0.7)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
              title: {
                display: true,
                text: 'Process Instance Status'
              },
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
              }
            }
        });
      </script>
    </div>
    <div class="col-md-6">
      <canvas id="processCategory"></canvas>
      <script>
        const ctx = document.getElementById('processCategory');
        const category_primary = {{#each data.process_category_primary_count}}{{this.count}}{{/each}};
        const category_intermediate = {{#each data.process_category_intermediate_count}}{{this.count}}{{/each}};
        const category_finishing = {{#each data.process_category_finishing_count}}{{this.count}}{{/each}};

        const processCategory = new Chart(ctx, {
          type:'polarArea',
          data:{labels:['Primary', 'Intermediate', 'Finishing'],
                datasets:[{label:'Category Counts',
                           data:[category_primary, category_intermediate, category_finishing],
                           backgroundColor:['rgba(255, 99, 132, 0.5)',
                                            'rgba(54, 162, 235, 0.5)',
                                            'rgba(255, 205, 86, 0.5)'],
                          borderColor: ['rgba(255, 99, 132, 0.7)',
                                        'rgba(54, 162, 235, 0.7)',
                                        'rgba(255, 205, 86, 0.7)']
                }]
          },
          options: {
            title: {
              display: true,
              text: 'Process per Category'
            }
          }
        });
      </script>
    </div>
  </div>
</div>

<hr>

<div class="container">
  {{#if error}}
    <p>Error getting dynamic content.</p>
  {{else}}
    <p>The dashboard has the following record counts:</p>
    <ul>
      <li>Processes: {{data.process_count}}</li>
      <li>Process Instances started: {{data.process_instance_started_count}}</li>
      <li>Process Instances scheduled: {{data.process_instance_scheduled_count}}</li>
      <li>Machines: {{data.machine_count}}</li>
      <li>Categories: {{data.category_count}}</li>
    </ul>
  {{/if}}
</div>